*{margin: 0px;padding: 0px;font-family: 'Roboto', sans-serif;}

.container{width: 900px; margin: auto; background-color: white}

.contacts{background-color: #3f59a8; height: 50px; margin-top: 125px;}

.contacts a{text-decoration: none; color: white;}

.contacts ul{list-style-type: none; text-align: center;}

.contacts ul li{
    display: inline-block;
    line-height: 50px;
    color: white;
    margin-right: 5px;
}

.main-info img{
    float: left;
    width: 400px;
    /* heigth: 400px; */

}
.skills ul, .soft ul{
    list-style-type: none;
    text-align: center;
}

.skills ul li, .soft ul li{
    display: inline-block;
    line-height: 50px;
    color: white;
    margin-right: 10px;
    background-color: #3f59a8;
    border: 1px solid #3f59a8;
    border-radius: 10%;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 10px 10px 15px grey;

}

h3{
    color: #3f59a8;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4{
    font-style: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-info p{
    font-style: italic;
}

.date{
    font-style: italic;
    color: #3f59a8;
}

.work ul{
    margin-top: 10px;
    margin-left: 50px;

}

.work ul li{
    list-style-type: circle;
    margin-bottom: 5px;
}

.education ul{
    margin-top: 10px;
    margin-left: 50px;
    list-style-type: circle;
}
.interests ul{
    text-align: center;
}

.interests ul li{
    display: inline-block;
    line-height: 50px;
    color: black;
    margin-right: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10%;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 10px 10px 15px grey;

}

.work p, .education p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#now{
    background-color: white;
    color: #3f59a8;
    border: none;
    text-align: center;
    box-shadow: none;
    margin-top: 20px;
}
